body {
    margin: 0;
    background-color: rgb(236, 248, 5);
    overflow-x: hidden;
    font-family: 'Play', cursive;
}

#overallContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    transform: skew(-25deg);
    letter-spacing: 25px;
    font-weight: 50;
    font-family: 'Contrail One', cursive;
    margin: 2% 0;
}

#subTitle {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
    font-size: 2em;
    transform: skew(-25deg);
    letter-spacing: 25px;
    font-weight: 50;
    font-family: 'Contrail One', cursive;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
}

h4 {
    font-size: 1.8vmin;
    font-family: 'Contrail One', cursive;
    transform: skew(-25deg);
    letter-spacing: 3px;
}

#mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 35%;
}

#scaleContent {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 247, 0);
    width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 0 0 5% 0;
}

#scaleContent>div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.titleAndSummaries {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.titleAndSummaries h3 {
    display: inline;
    color: aqua;
    border-bottom: 2px solid yellow;
    font-family: 'Contrail One', cursive;
    transform: skew(-25deg);
    letter-spacing: 1px;
}

.titleAndSummaries p {
    letter-spacing: 1.5px;
}

.infoForms {
    display: flex;
    align-content: space-between;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    height: inherit;
}

.infoForms div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

input {
    padding: 2px 0.1vw 0 0;
    text-align: left;
    background-color: yellow;
    font-family: 'Play', cursive;
    font-weight: 900;
}

input::placeholder {
    font-family: 'Play', cursive;
}

input:focus {
    outline: 1px solid aqua;
    background-color: black;
    color: yellow;
}

select {
    background-color: yellow;
    font-family: 'Play', cursive;
}

select:focus {
    outline: 1px solid aqua;
}

.hide {
    display: none;
}

.results {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    color: aqua;
    margin-top: -5px;
    height: inherit;
}

.results h1 {
    font-family: 'Contrail One', cursive;
    transform: skew(-5deg);
    letter-spacing: 5px;
}

.results button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vmax auto 0 auto;
    background-color: black;
    color: yellow;
    border: 5px solid aqua;
    padding: 5px 8px;
    border-radius: 15px;
    transition: all 1.5s;
}

#tdeeCaloricMeasures {
    display: flex;
    flex-direction: row;
}

#tdeeCaloricMeasures div {
    display: inline-block;
    text-align: center;
}

#tdeeCaloricMeasures h2 {
    display: inline;
    border-bottom: 2px solid yellow;
}

#tdeeCaloricMeasures p {
    font-size: 0.9em;
}

.show {
    display: flex;
}

button {
    margin: 1.5vmax 0;
    background-color: black;
    color: yellow;
    border: 1px solid yellow;
    transition: all 1.5s;
    cursor: pointer;
}

.activated {
    border: 5px solid aqua;
    padding: 5px 8px;
    border-radius: 15px;
    font-size: 1.1em;
    font-family: 'Contrail One', cursive;
    animation: 1 activated 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes activated {
    50% {
        transform: skew(-5deg);
        letter-spacing: 1.5px;
        transform: scale(1.2);
    }
}


@media (min-width: 2000px) {
    #title {
        font-size: 3em;
    }

    #scaleContent {
        height: fit-content;
    }

    .titleAndSummaries h3 {
        font-size: 1.6vmax;
    }

    .titleAndSummaries p {
        font-size: 1vmax;
    }

    h4 {
        font-size: 1.2vmax;
    }
}

@media (max-width: 1900px) {
    #title {
        font-size: 2.8em;
    }

    .titleAndSummaries p {
        font-size: 1.25vmax;
    }

    #scaleContent {
        height: 750px;
    }

    h4 {
        font-size: 2vh;
    }

    .infoForms button,
    input,
    select {
        font-size: 1vmax;
    }

    .titleAndSummaries h3 {
        font-size: 2.1vmax;
    }

}


@media (max-width: 1150px) {
    .titleAndSummaries p {
        font-size: 1.4vmax;
    }

    #subTitle {
        font-size: 2.5vmax;
    }

    #tdeeCaloricMeasures {
        flex-direction: column;
    }

    #mainContent {
        margin: 0 30%;
    }

    .infoForms button,
    input,
    select {
        font-size: 1.2vmax;
    }

    h4 {
        font-size: 2.1vmax;
    }

    .titleAndSummaries h3 {
        font-size: 3vmax;
    }
}

@media (max-width: 900px) {
    .titleAndSummaries p {
        font-size: 1.6vmax;
    }

    #subTitle {
        letter-spacing: 1.9vmax;
    }

    #mainContent {
        margin: 0 25%;
    }
}

@media (max-width: 800px) {
    .titleAndSummaries h3 {
        font-size: 2.7vmax;
    }

    #scaleContent>div:first-of-type {
        justify-content: flex-start;
    }

    .infoForms {
        height: initial;
    }

}

@media (max-width: 770px) {

    #subTitle {
        letter-spacing: 1.9vmax;
    }

}

@media (max-width: 700px) {

    .titleAndSummaries h3 {
        font-size: 2.3vmax;
    }

    .titleAndSummaries p {
        font-size: 1.5vmax;
    }

    #subTitle {
        letter-spacing: 1.5vmax;
    }

    .infoForms button,
    input,
    select {
        font-size: 1.4vmax;
    }

    #mainContent {
        margin: 0 15%;
    }
}

@media (max-width: 620px) {
    .titleAndSummaries h3 {
        font-size: 2vmax;
    }

    #subTitle {
        letter-spacing: 1.1vmax;
    }

    #scaleContent {
        height: 650px;
    }
}

@media (max-width: 550px) {
    .titleAndSummaries h3 {
        font-size: 1.7vmax;
    }

    .titleAndSummaries p {
        font-size: 1.2vmax;
    }

    h4 {
        font-size: 1.85vmax;
    }

    #subTitle {
        letter-spacing: 0.5vmax;
    }
}

@media (max-width: 465px) {
    #scaleContent {
        height: 560px;
    }

    .results h1 {
        font-size: 2.8vmax;
    }
}

@media (max-width: 400px) {
    #scaleContent {
        height: fit-content;
    }

    #title {
        font-size: 4vmax;
    }
}